@charset "utf-8";
/* CSS Document */
.checkHbi {
  margin-left: 4px;
  margin-right: 4px;
}
/* */
#h_c_r {
  width: 550px;
  position: absolute;
  top: 250px;
  right: 140px;
}

#h_c_l {
  width: 100px;
  position: absolute;
  top: 250px;
  left: 200px;
}

body {
  margin-left: 5px;
  margin-top: 5px;
  background-color: #000000;
}

.degradado {
  width: 180px;
  height: 60px;
  background-position: center;
}

.degradado2 {
  width: 180px;
  height: 180px;
  background-position: center;
}
.degradado1 {
  width: 180px;
  height: 60px;
  background-position: center;
}
.degradado1 {
  background-image: url(media/degradado.png);
}
.Estilo3 {
  font-size: 12px;
  font-weight: bold;
}
.Estilo6 {
  color: #ffffff;
}

.glossymenu {
  position: relative;
  padding: 0 0 0 34px;
  margin: 0 auto 0 auto;
  background: url(media/menub_bg.gif) repeat-x; /*tab background image path*/
  height: 46px;
  list-style: none;
}

.glossymenu li {
  float: left;
}

.glossymenu li a {
  float: left;
  display: block;
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 0 16px; /*Padding to accomodate left tab image. Do not change*/
  height: 46px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
}

.glossymenu li a b {
  float: left;
  display: block;
  padding: 0 24px 0 8px; /*Padding of menu items*/
}

.glossymenu li.current a,
.glossymenu li a:hover {
  color: #fff;
  background: url(media/menub_hover_left.gif) no-repeat; /*left tab image path*/
  background-position: left;
}

.glossymenu li.current a b,
.glossymenu li a:hover b {
  color: #fff;
  background: url(media/menub_hover_right.gif) no-repeat right top; /*right tab image path*/
}

#info {
  height: 500px;
  position: relative;
}
#adsie {
  position: absolute;
  bottom: 0;
}
/*Menu vertival*/

.arrowlistmenu {
  width: 180px; /*width of menu*/
}

.arrowlistmenu .headerbar {
  font: bold 14px Arial;
  color: white;
  background: black url(media/titlebar.png) repeat-x center left;
  margin-bottom: 10px; /*bottom spacing between header and rest of content*/
  text-transform: uppercase;
  padding: 4px 0 4px 10px; /*header text is indented 10px*/
}

.arrowlistmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li {
  padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a {
  color: #a70303;
  background: url(media/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
  display: block;
  padding: 2px 0;
  padding-left: 19px; /*link text is indented 19px*/
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #dadada;
  font-size: 90%;
}

.arrowlistmenu ul li a:visited {
  color: #a70303;
}

.arrowlistmenu ul li a:hover {
  /*hover state CSS*/
  color: #a70303;
  background-color: #f3f3f3;
}
.Estilo6 {
  color: #ffffff;
}
.EstiloCC {
  color: #ffffff;
}
/*Hoja estilo*/

.curlycontainer {
  border: 1px solid #b8b8b8;
  margin-bottom: 1em;
  width: 300px;
}

.curlycontainer .innerdiv {
  background: transparent url(media/brcorner.gif) bottom right no-repeat;
  position: relative;
  left: 2px;
  top: 2px;
  padding: 1px 4px 15px 5px;
}

/*con sombra*/

.shiftcontainer {
  position: relative;
  left: 5px; /*Number should match -left shadow depth below*/
  top: 5px; /*Number should match -top shadow depth below*/
}

.shadowcon_x {
  width: 425px; /* container width*/
  background-color: #d1cfd0;
}

.shadowcon_x .innerdiv {
  /* Add container height here if desired */
  background-color: white;
  border: 1px solid gray;
  padding: 6px;
  position: relative;
  left: -5px; /*shadow depth*/
  top: -5px; /*shadow depth*/
}

.shadowcontainer {
  width: 240px; /* container width*/
  background-color: #d1cfd0;
}

.shadowcontainer .innerdiv {
  /* Add container height here if desired */
  background-color: white;
  border: 1px solid gray;
  padding: 6px;
  position: relative;
  left: -5px; /*shadow depth*/
  top: -5px; /*shadow depth*/
}

.EstiloTT {
  font-size: 16px;
}
.Estilolg1 {
  font-size: 14px;
}
.Estilolg {
  font-size: 12px;
}
table {
  font: normal 11px verdana, arial, helvetica, sans-serif;
}

caption {
  text-align: center;
  font: bold 18px arial, helvetica, sans-serif;
  background: transparent;
  padding: 6px 4px 8px 0px;
  color: #03476f;
  text-transform: uppercase;
}
td,
th {
  padding: 0.4em;
  color: #363636;
}
thead th,
tfoot th {
  font: bold 11px verdana, arial, helvetica, sans-serif;

  text-align: left;
  background: #4591ad;
  color: #ffffff;
  padding-top: 3px;
}
tbody td a {
  background: transparent;
  text-decoration: none;
  color: #363636;
}
tbody td a:hover {
  background: #c2f64d;
  color: #363636;
}
tbody th a {
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  text-decoration: none;
  font-weight: normal;
  color: #363636;
}
tbody th a:hover {
  background: transparent;
  color: #363636;
}
tbody th,
tbody td {
  vertical-align: top;
  text-align: left;
}
tfoot td {
  background: #4591ad;
  padding-top: 3px;
  color: #ffffff;
}
.odd {
  background: #aee239;
}

.popupStyle {
  width: 310px;
  height: 260px;
  border: 1px;
  margin: 0;
}
.boton1 {
  font-size: 10px;
  font-family: Verdana, Helvetica;
  font-weight: bold;
  color: white;
  background: #638cb5;
  border: 0px;
  width: 110px;
  height: 19px;
}

.vScroller2 {
  position: relative;
  overflow: hidden;
  width: 1500px;
  height: 500px;
  border: 0px solid #000;
  margin: 0;
  padding: 0;
}
.vScrollee2 {
  position: absolute;
  width: auto;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.vScroller {
  position: relative;
  overflow: hidden;
  width: 525px;
  height: 400px;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}
.vScrollee {
  position: absolute;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0 10px;
}
.btn {
  position: absolute;
  overflow: hidden;
  width: 16px;
  height: 1.5em;
  border: 1px solid #000;
  background: #ccc;
  text-align: center;
  cursor: default;
}
.btn2 {
  position: absolute;
  overflow: hidden;
  width: 16px;
  height: 1.5em;
  border: 0px solid #000;
  background: #ccc;
  text-align: center;
  cursor: default;
}
/* TOOLTIP */
#xTooltip {
  position: absolute;
  visibility: hidden;
}
.tip1 {
  color: #666;
  border-bottom: 1px dashed #ccc;
}
.tip2 {
  color: #ccff00;
  border-bottom: 1px dashed #ccf;
}

.xtip1 {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  color: #000;
  background: #ccc;
  border: 1px solid #666;
  font-size: 10px;
  margin: 0;
  padding: 1px;
  width: 180px;
  height: 14px;
}
.xtip2 {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  color: #008;
  background: #ccf;
  border: 1px solid #008;
  font-size: 10px;
  margin: 0;
  padding: 1px;
  width: 180px;
  height: 42px;
}
.xtip3 {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  color: #800;
  background: #fcc;
  border: 1px solid #800;
  font-size: 10px;
  margin: 0;
  padding: 1px;
  width: 180px;
  height: 14px;
}

bodyx {
  font: normal 76% georgia, helvetica, verdana, tahoma, arial, "sans serif";
}

.dialogx {
  width: 67%;
  margin: 0px;
  min-width: 20em;
  max-width: 350px; /* I only cut the left background images out to 800px. You could do much larger, etc. */
  color: #000;
}

.dialogx .hdx .cx,
.dialogx .ftx .cx {
  font-size: 1px; /* ensure minimum height */
  height: 11px;
}

.dialogx .ftx .cx {
  height: 14px;
}

.dialogx .hdx {
  background: transparent url(media/tl.png) no-repeat 0px 0px;
  margin-right: 14px; /* space for right corner */
}

.dialogx .hdx .cx {
  background: transparent url(media/tr.png) no-repeat right 0px;
  margin-right: -14px; /* pull right corner back over "empty" space (from above margin) */
}

.dialogx .bdx {
  background: transparent url(media/ml.png) repeat-y 0px 0px;
  margin-right: 6px;
}

.dialogx .bdx .cx {
  background: transparent url(media/mr.png) repeat-y right 0px;
  margin-right: -6px;
}

.dialogx .bdx .cx .sx {
  margin: 0px 8px 0px 4px;
  background: url(media/ms.jpg) repeat-x 0px 0px;
  padding: 1em;
}

.dialogx .ftx {
  background: transparent url(media/bl.png) no-repeat 0px 0px;
  margin-right: 14px;
}

.dialogx .ftx .cx {
  background: transparent url(media/br.png) no-repeat right 0px;
  margin-right: -14px;
}

/* content-specific */

.dialogx h1x {
  /* header */
  font-size: 2em;
  margin: 0px;
  padding: 0px;
  margin-top: -0.6em;
}

px {
  font-family: verdana, tahoma, arial, "sans serif";
}

.dialogx px {
  margin: 0.5em 0px 0px 0px;
  padding: 0px;
  font: 0.95em/1.5em arial, tahoma, "sans serif";
}

html > body .dialogx prex {
  font-size: 1.1em;
}

.shadowcontainerx2 {
  width: 250px; /* container width*/
  background-color: #d1cfd0;
}

.shadowcontainerx2 .innerdivx2 {
  /* Add container height here if desired */
  background-color: white;
  border: 1px solid gray;
  padding: 0px;
  top: -100px;
  /*left: -5px; shadow depth*/
  /*top: -10px; shadow depth*/
}
div#box {
  padding: 10px;
  margin: 0 auto;
  background: #333333;
  color: #000;
}
div#box1 {
  padding: 10px;
  margin: 0 auto;
  background: #333333;
  color: #000;
}
div#box2 {
  padding: 10px;
  margin: 0 auto;
  background: #333333;
  color: #000;
}
div#box3 {
  padding: 10px;
  margin: 0 auto;
  background: #006699;
  color: #000;
}
div#meumar {
  padding: 10px;
  margin: 0 auto;
  background: #006699;
  color: #000;
}
div#box4 {
  padding: 10px;
  margin: 0 auto;
  background: #006699;
  color: #000;
}
div#box5 {
  padding: 10px;
  margin: 0 auto;
  background: #006699;
  color: #000;
}
div#box6 {
  padding: 10px;
  margin: 0 auto;
  background: #666666;
  color: #000;
}

div#box7 {
  padding: 10px;
  margin: 0 auto;
  background: #999999;
  color: #000;
}
div#box8 {
  padding: 10px;
  margin: 0 auto;
  background: #666666;
  color: #000;
}

div#box9 {
  padding: 10px;
  margin: 0 auto;
  background: #cccccc;
  color: #000;
}

div#box10 {
  padding: 10px;
  margin: 0 auto;
  background: #cccccc;
  color: #000;
}

div#box12 {
  padding: 10px;
  margin: 0 auto;
  background: #666666;
  color: #000;
}
div#box13 {
  padding: 10px;
  margin: 0 auto;
  background: #333333;
  color: #000;
}
div#box14 {
  padding: 10px;
  margin: 0 auto;
  background: #800000;
  color: #000;
}
div#box15 {
  padding: 10px;
  margin: 0 auto;
  background: #800000;
  color: #000;
}
div#box16 {
  padding: 10px;
  margin: 0 auto;
  background: #5f92c1;
  color: #000;
}

.resal {
  background: #ffff99;
  color: #000000;
}
.resal {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.resal2 {
  background: #006699;
  color: #000000;
}
.resal2 {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.resal3 {
  background: #666666;
  color: #000000;
}
.resal3 {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.nom1 {
  background: #666666;
  color: #ffffff;
}
.nom2 {
  background: #999999;
  color: #ffffff;
}
.nom3 {
  background: #006699;
  color: #ffffff;
}
.nom4 {
  background: #0099ff;
  color: #ffffff;
}

@media print {
  .header {
    display: none;
  }
  div,
  a {
    display: none;
  }
  span {
    display: none;
  }
}

A {
  text-decoration: none;
}
A:link {
  color: blue;
}
A:visited {
  color: blue;
}
A:hover {
  color: red;
  background-color: #66ffff;
}
.tab1 {
  font-size: 12px;
  font-family: Arial, Helvetica;
  color: #0099cc;
}
.tabb1 {
  font-size: 14px;
  font-family: Arial, Helvetica;
  color: #0099cc;
}

.shadowcontainer1 {
  width: 240px; /* container width*/
  background-color: #d1cfd0;
}
.shadowcontainer1 {
  width: 240px; /* container width*/
  background-color: #d1cfd0;
}
.shadowcontainer2 {
  width: 240px; /* container width*/
  background-color: #d1cfd0;
}

#tabs2 {
  float: left;
  width: 100%;
  font-size: 100%;
  line-height: normal;
  border-bottom: 0px solid #84776b;
}
#tabs2 ul {
  margin: 0;
  padding: 0px 10px 0 0px;
  list-style: none;
}
#tabs2 li {
  display: inline;
  margin: 0;
  padding: 0;
}
#tabs2 a {
  float: left;
  background: url("tableft2.gif") no-repeat left top;
  margin: 0;
  padding: 0 0 0 4px;
  text-decoration: none;
}
#tabs2 a span {
  float: left;
  display: block;
  background: url("tabright2.gif") no-repeat right top;
  padding: 5px 15px 4px 6px;
  color: #84776b;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs2 a span {
  float: none;
}
/* End IE5-Mac hack */
#tabs2 a:hover span {
  color: #74675b;
}
#tabs2 a:hover {
  background-position: 0% -42px;
}
#tabs2 a:hover span {
  background-position: 100% -42px;
}
.esbk {
  text-shadow: #0099ff 0.15em 0.15em 0.15em;
  color: #ffffff;
}
.Estilo10 {
  color: #000000;
}
bdcolor {
  background-color: #000000;
}

.Estilo11 {
  font-size: 14px;
  color: #000000;
}
/* Estilo del mensaje Scroll Noticas*/

ul#about,
ul#about li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#about {
  width: 1900px;
  margin: 70px auto 0;
  text-align: left;
}
ul#about li {
  float: left;
  width: 450px;
  height: 50px;
  margin: 8px 8px 0 0;
}
li#ab1 {
  background: #800000;
}
li#ab2 {
  background: #666666;
}
li#ab3 {
  background: #800000;
}
li#ab4 {
  background: #666666;
}
li#ab5 {
  background: #4672b9;
}
/************************************/
