body{margin:0; padding:0; background-color:#FFFFFF}
table, td {border-collapse:collapse;}
table, td, img {border:0;}
input, textarea, select{font:11px Tahoma, Arial, Geneva, sans-serif; border-top: 1px solid #404040; border-right: 1px solid #D4D0C8; border-bottom: 1px solid #D4D0C8; color: #000; padding-left:2px}

form, td {margin:0; padding:0;}
td, tr {font:11px/12px tahoma, arial, helvetica, sans-serif; color: #000; vertical-align:top;  text-align:left;}

td, tr {vertical-align:top; text-align:left}

.align_right{text-align:right}

.bottom{vertical-align:bottom}


.header{
	font:11px/13px tahoma, arial, helvetica, sans-serif;
	font-weight:bold;
}


.content{
	font:11px/13px tahoma, arial, helvetica, sans-serif;
	color:#343434;
}
.content b{
	font:11px/13px tahoma, arial, helvetica, sans-serif;
	color:#40660E;
}
.content span{
	font:11px/13px tahoma, arial, helvetica, sans-serif;
	color:#40660E;
	font-weight:bold;
}
.content strong{
	font:11px/14px tahoma, arial, helvetica, sans-serif;
	color:#343434;
	font-weight:bold;
	text-transform:uppercase;
}
.content a{
	text-decoration:underline;
	color:#40660E;
	font-weight:bold;
}
.content a:hover{
	text-decoration:none;
}
.content span a{
	text-decoration:none;
	color:#40660E;
	font-weight:normal;
}
.content span a:hover{
	text-decoration:underline;
}
.content strong a{
	text-transform:none;
	font:11px/14px tahoma, arial, helvetica, sans-serif;
	text-decoration:underline;
	color:#40660E;
	font-weight:normal;
}
.content strong a:hover{
	text-decoration:none;
}

.content ul { 
	margin:0;
	padding:0; 
	list-style:none;
}
.content li {
	background:url(images/str.gif) center left no-repeat; 
	margin:0 0 0 0; 
	padding:0 0 0 10px;
}
.content li a { 
	line-height:17px;
	color:#40660E;
	font-weight:normal;
	text-decoration:none; 
	background-position:left center;
}
.content li a:hover { 
	text-decoration:underline;
}
/**/

.content_1 strong{
	font:11px/14px tahoma, arial, helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
}
.content_1 ul { 
	margin:0;
	padding:0; 
	list-style:none;
}
.content_1 li {
	background:url(images/str.gif) center left no-repeat; 
	margin:0 0 0 0; 
	padding:0 0 0 10px;
}
.content_1 li a { 
	line-height:17px;
	color:#40660E;
	font-weight:normal;
	text-decoration:underline; 
	background-position:left center;
}
.content_1 li a:hover { 
	text-decoration:none;
}
/**/
.footer{
	font:11px/13px  tahoma, arial, helvetica, sans-serif;
	color:#999999;
}
.footer span{
	font:11px/13px  tahoma, arial, helvetica, sans-serif;
	color:#999999;
	text-decoration:underline;
}
.footer a{
	color:#999999;
	text-decoration:none;
}
.footer a:hover{
	text-decoration:underline;
}




.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
.x-grid3-row-body p {
    margin:5px 5px 10px 5px !important;
}





